@model Printo.Data.Data.Order

@{
    ViewData["Title"] = "Nowe zamówienie";
}

<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="mb-2 page-title">Nowe zamówienie</h4>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-success float-right" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Index">
                            <i class="fe fe-arrow-left" style="vertical-align:text-top"></i>
                            Powrót do listy
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-columns">
                        <div class="card shadow mb-4" style="padding-top:10px">
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col-12 col-md-4">
                                    <label asp-for="StartDate" class="control-label">Data zamówienia</label>
                                    <input asp-for="StartDate" autocomplete="off" class="form-control" id="startDate" type="text" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-4">
                                    <label asp-for="EndDate" class="control-label">Termin realizacji</label>
                                    <input asp-for="EndDate" autocomplete="off" class="form-control" id="endDate" type="text" />
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="ProductionStageID" class="control-label">Etap produkcji</label>
                                    <select asp-for="ProductionStageID" class="form-control" asp-items="ViewBag.ProductionStageID"></select>
                                    <span asp-validation-for="ProductionStageID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="ClientID" class="control-label">Klient</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <label data-toggle="tooltip" data-placement="top" title="Nowy klient"><a class="btn-outline-success" role="button" aria-haspopup="true" aria-expanded="false" href="@Url.Action("AddClient", "Orders", new { OrderID = ViewData["OrderID"] })"><i class="fe fe-plus"></i></a></label>
                                    <select asp-for="ClientID" class="form-control myselect" style="width:100%" asp-items="ViewBag.ClientID">
                                        <option selected disabled value="0"></option>
                                    </select>
                                    <span asp-validation-for="ClientID" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="OrderName" class="control-label">Nazwa zamówienia</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <input asp-for="OrderName" class="form-control" />
                                    <span asp-validation-for="OrderName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col-12 col-md-4">
                                    <label asp-for="ProductID" class="control-label">Produkt</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <select asp-for="ProductID" class="form-control myselect" style="width:100%" asp-items="ViewBag.ProductID">
                                        <option selected disabled value="0"></option>
                                    </select>
                                    <span asp-validation-for="ProductID" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-4">
                                    <label asp-for="FormatID" class="control-label">Format</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <select asp-for="FormatID" class="form-control myselect" style="width:100%" asp-items="ViewBag.FormatID">
                                        <option selected disabled value="0"></option>
                                    </select>
                                    <span asp-validation-for="FormatID" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Quantity" class="control-label">Nakład</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <input asp-for="Quantity" class="form-control" />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="PaperTypeID" class="control-label">Papier</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <select asp-for="PaperTypeID" class="form-control myselect" style="width:100%" asp-items="ViewBag.PaperTypeID">
                                        <option selected disabled value="0"></option>
                                    </select>
                                    <span asp-validation-for="PaperTypeID" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="PaperWeightID" class="control-label">Gramatura</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <select asp-for="PaperWeightID" class="form-control myselect" style="width:100%" asp-items="ViewBag.PaperWeightID">
                                        <option selected disabled value="0"></option>
                                    </select>
                                    <span asp-validation-for="PaperWeightID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <div class="row">
                                        <div class="col">
                                            <label asp-for="Description" class="control-label">Opis zamówienia</label>
                                        </div>
                                        <div class="col">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1" asp-for="IsReprint">
                                                <label class="custom-control-label" for="customCheck1">Dodruk</label>
                                            </div>
                                        </div>
                                    </div>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow mb-4" style="padding-top:10px">
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col-6 col-md-4">
                                    <label asp-for="MachineID" class="control-label">Maszyna</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <select asp-for="MachineID" class="form-control myselect" style="width:100%" asp-items="ViewBag.MachineID">
                                    </select>
                                    <span asp-validation-for="MachineID" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6 col-md-4">
                                    <label asp-for="SheetSizeID" class="control-label">Format arkusza</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <select asp-for="SheetSizeID" class="form-control myselect" style="width:100%" asp-items="ViewBag.SheetSizeID">
                                    </select>
                                    <span asp-validation-for="SheetSizeID" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="PrintColorID" class="control-label">Kolorystyka druku</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <select asp-for="PrintColorID" class="form-control myselect" style="width:100%" asp-items="ViewBag.PrintColorID">
                                    </select>
                                    <span asp-validation-for="PrintColorID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="SheetsNumber" class="control-label">Ilość arkuszy do druku</label>
                                    <textarea asp-for="SheetsNumber" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="Comments" class="control-label">Uwagi do druku</label>
                                    <textarea asp-for="Comments" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="FinishingID" class="control-label">Uszlachetnienia</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <select asp-for="FinishingID" class="form-control myselect" style="width:100%" asp-items="ViewBag.FinishingID">
                                    </select>
                                    <span asp-validation-for="FinishingID" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="PostPressID" class="control-label">Introligatornia</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <select asp-for="PostPressID" class="form-control myselect" style="width:100%" asp-items="ViewBag.PostPressID">
                                    </select>
                                    <span asp-validation-for="PostPressID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow mb-4" style="padding-top:10px">
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="DeliveryTypeID" class="control-label">Rodzaj dostawy</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <select asp-for="DeliveryTypeID" class="form-control myselect" style="width:100%" asp-items="ViewBag.DeliveryTypeID">
                                    </select>
                                    <span asp-validation-for="DeliveryTypeID" class="text-danger"></span>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label asp-for="PaymentTypeID" class="control-label">Sposób płatności</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <select asp-for="PaymentTypeID" class="form-control myselect" style="width:100%" asp-items="ViewBag.PaymentTypeID">
                                    </select>
                                    <span asp-validation-for="PaymentTypeID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="DeliveryDetails" class="control-label">Szczegóły dostawy</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <textarea asp-for="DeliveryDetails" class="form-control"></textarea>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="PaymentDetails" class="control-label">Szczegóły płatności</label>
                                    <textarea asp-for="PaymentDetails" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px; min-height:160px">
                                <div class="form-group col col-md-6">
                                    <label asp-for="VatRateID" class="control-label">Stawka Vat</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <select asp-for="VatRateID" class="form-control myselect" style="width:100%" asp-items="ViewBag.VatRateID">
                                    </select>
                                    <span asp-validation-for="VatRateID" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="NetPrice" class="control-label">Cena netto</label>
                                    <input asp-for="NetPrice" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6" style="margin-left:10px; margin-right:10px">
                                    <label asp-for="InvoiceNumber" class="control-label">Nr faktury</label>
                                    <input asp-for="InvoiceNumber" class="form-control" placeholder="np. 01/01/2020" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-row" style="float:right">
                        <div class="form-group" style="padding-right:5px">
                            <input type="submit" value="Zapisz" class="btn btn-success" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}