<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="Zarządzanie zamówieniami drukarni">
    <meta name="author" content="Michał Sierotowicz">
    <link rel="icon" href="favicon.ico">
    <title>@ViewData["Title"] - Printo.Intranet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="~/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/css/feather.css">
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/css/select2.css">
    <link rel="stylesheet" href="~/css/dropzone.css">
    <link rel="stylesheet" href="~/css/uppy.min.css">
    <link rel="stylesheet" href="~/css/jquery.steps.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/css/quill.snow.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="~/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="~/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="~/css/app-dark.css" id="darkTheme" disabled>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body class="vertical  light">
    <div class="wrapper">
        @*NAVBAR TOP*@
        <nav class="topnav navbar navbar-light static-top">
            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
                <i class="fe fe-menu navbar-toggler-icon"></i>
            </button>

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
                        <i class="fe fe-sun fe-16"></i>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            <img src="~/assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activities</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- navbar -->
        @*SIDEBAR LEFT*@
        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>

            <!-- nav bar -->
            <nav class="vertnav navbar navbar-light">
                <div class="w-100 mb-4 d-flex">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/logo.png" height="35" class="" alt="">
                    </a>
                </div>

                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Linki</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">

                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Clients" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Klienci</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="DeliveryAdresses" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Adresy dostawy</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="DeliveryTypes" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Rodzaje dostawy</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Finishings" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Uszlachetnienia druku</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Formats" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Formaty produktów</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Machines" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Maszyny drukujące</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="Index">
                            <i class="fe fe-monitor fe-16"></i>
                            <span class="ml-3 item-text">Zamówienia</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="PaperTypes" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Papiery</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="PaperWeights" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Gramatury papieru</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="PaymentTypes" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Rodzaje płatności</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="PostPresses" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Introligatornia</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="PrintColors" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Kolory zadruku</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="ProductionStages" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Etapy produkcyjne</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Produkty</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="SheetSizes" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Arkusze drukarskie</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="ToDoes" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Do zrobienia</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Użytkownicy</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="UserTypes" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Rodzaje użytkowników</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="VatRates" asp-action="Index">
                            <i class="fe fe-arrow-right fe-16"></i>
                            <span class="ml-3 item-text">Stawki Vat</span>
                        </a>
                    </li>
                </ul>

                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Apps</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">

                    <li class="nav-item w-100">
                        <a class="nav-link" href="calendar.html">
                            <i class="fe fe-calendar fe-16"></i>
                            <span class="ml-3 item-text">Calendar</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#contact" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-book fe-16"></i>
                            <span class="ml-3 item-text">Contacts</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="contact">
                            <a class="nav-link pl-3" href="./contacts-list.html"><span class="ml-1">Contact List</span></a>
                            <a class="nav-link pl-3" href="./contacts-grid.html"><span class="ml-1">Contact Grid</span></a>
                            <a class="nav-link pl-3" href="./contacts-new.html"><span class="ml-1">New Contact</span></a>
                        </ul>
                    </li>

                </ul>

                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Documentation</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item w-100">
                        <a class="nav-link" href="../docs/index.html">
                            <i class="fe fe-help-circle fe-16"></i>
                            <span class="ml-3 item-text">Getting Start</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <!-- sidebar -->
        @*MAIN*@
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                @RenderBody()
                            </div> <!-- .card-body -->
                        </div> <!-- .card -->
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
        </main>
        <!-- main -->
    </div>
    <!-- .wrapper -->

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    @*<script src="/js/bootstrap.min.js"></script>*@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src='~/js/daterangepicker.js'></script>
    <script src='~/js/jquery.stickOnScroll.js'></script>
    <script src="~/js/tinycolor-min.js"></script>
    <script src="~/js/config.js"></script>
    <script src='js/jquery.dataTables.min.js'></script>
    <script src='js/dataTables.bootstrap4.min.js'></script>
    <script src="~/js/d3.min.js"></script>
    <script src="~/js/topojson.min.js"></script>
    <script src="~/js/datamaps.all.min.js"></script>
    <script src="~/js/datamaps-zoomto.js"></script>
    <script src="~/js/datamaps.custom.js"></script>
    <script src="~/js/Chart.min.js"></script>
    <script>
        /* defind global options */
        Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
        Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src="~/js/gauge.min.js"></script>
    <script src="~/js/jquery.sparkline.min.js"></script>
    <script src="~/js/apexcharts.min.js"></script>
    <script src="~/js/apexcharts.custom.js"></script>
    <script src='~/js/jquery.mask.min.js'></script>
    <script src='~/js/select2.min.js'></script>
    <script src='~/js/jquery.steps.min.js'></script>
    <script src='~/js/jquery.validate.min.js'></script>
    <script src='~/js/jquery.timepicker.js'></script>
    <script src='~/js/dropzone.min.js'></script>
    <script src='~/js/uppy.min.js'></script>
    <script src='~/js/quill.min.js'></script>

    <script>
        $('.select2').select2(
            {
                theme: 'bootstrap4',
            });
        $('.select2-multi').select2(
            {
                multiple: true,
                theme: 'bootstrap4',
            });
        $('.drgpicker').daterangepicker(
            {
                singleDatePicker: true,
                timePicker: false,
                showDropdowns: true,
                locale:
                {
                    format: 'MM/DD/YYYY'
                }
            });
        $('.time-input').timepicker(
            {
                'scrollDefault': 'now',
                'zindex': '9999' /* fix modal open */
            });
        /** date range picker */
        if ($('.datetimes').length) {
            $('.datetimes').daterangepicker(
                {
                    timePicker: true,
                    startDate: moment().startOf('hour'),
                    endDate: moment().startOf('hour').add(32, 'hour'),
                    locale:
                    {
                        format: 'M/DD hh:mm A'
                    }
                });
        }
        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        $('#reportrange').daterangepicker(
            {
                startDate: start,
                endDate: end,
                ranges:
                {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
        cb(start, end);
        $('.input-placeholder').mask("00/00/0000",
            {
                placeholder: "__/__/____"
            });
        $('.input-zip').mask('00000-000',
            {
                placeholder: "____-___"
            });
        $('.input-money').mask("#.##0,00",
            {
                reverse: true
            });
        $('.input-phoneus').mask('(000) 000-0000');
        $('.input-mixed').mask('AAA 000-S0S');
        $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
            {
                translation:
                {
                    'Z':
                    {
                        pattern: /[0-9]/,
                        optional: true
                    }
                },
                placeholder: "___.___.___.___"
            });
        // editor
        var editor = document.getElementById('editor');
        if (editor) {
            var toolbarOptions = [
                [
                    {
                        'font': []
                    }],
                [
                    {
                        'header': [1, 2, 3, 4, 5, 6, false]
                    }],
                ['bold', 'italic', 'underline', 'strike'],
                ['blockquote', 'code-block'],
                [
                    {
                        'header': 1
                    },
                    {
                        'header': 2
                    }],
                [
                    {
                        'list': 'ordered'
                    },
                    {
                        'list': 'bullet'
                    }],
                [
                    {
                        'script': 'sub'
                    },
                    {
                        'script': 'super'
                    }],
                [
                    {
                        'indent': '-1'
                    },
                    {
                        'indent': '+1'
                    }], // outdent/indent
                [
                    {
                        'direction': 'rtl'
                    }], // text direction
                [
                    {
                        'color': []
                    },
                    {
                        'background': []
                    }], // dropdown with defaults from theme
                [
                    {
                        'align': []
                    }],
                ['clean'] // remove formatting button
            ];
            var quill = new Quill(editor,
                {
                    modules:
                    {
                        toolbar: toolbarOptions
                    },
                    theme: 'snow'
                });
        }
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    <script src="~/js/apps.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
