<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="Zarządzanie zamówieniami drukarni">
    <meta name="author" content="Michał Sierotowicz">
    <link rel="icon" href="~/favicon.ico">
    <title>@ViewData["Title"] - Printo.Intranet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="~/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/css/feather.css">
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/dropzone.css">
    <link rel="stylesheet" href="~/css/uppy.min.css">
    <link rel="stylesheet" href="~/css/jquery.steps.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/css/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css" />
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="~/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="~/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="~/css/app-dark.css" id="darkTheme" disabled>
    <!-- FULL CALENDAR -->
    <link rel="stylesheet" href="~/lib/fullcalendar-5.3.2/lib/main.css" />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css' rel='stylesheet'>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body class="vertical  light">
    <div class="wrapper">
        @*NAVBAR TOP*@
        <nav class="topnav navbar navbar-light static-top">
            <ul class="nav">
                <li class="nav-item">
                    <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
                        <i class="fe fe-menu navbar-toggler-icon"></i>
                    </button>
                </li>
                <li class="nav-item">
                    <a class="btn mt-2 p-0 mr-3" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fe fe-home fe-16"></i>
                    </a>
                </li>
            </ul>

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
                        <i class="fe fe-sun fe-16"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            <img src="~/assets/images/logo-only.png" alt="..." class="avatar-img rounded-circle">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activities</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- navbar -->
        @*SIDEBAR LEFT*@
        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>

            <!-- nav bar -->
            <nav class="vertnav navbar navbar-light">
                <div class="w-100 mb-4 d-flex navbar-header">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/logo.png" style="max-height:55px" alt="Printo">
                    </a>
                </div>

                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Menu główne</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">

                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="Create">
                            <i class="fe fe-plus fe-16"></i>
                            <span class="ml-3 item-text">Nowe zamówienie</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="Index">
                            <i class="fe fe-monitor fe-16"></i>
                            <span class="ml-3 item-text">Aktualne zamówienia</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="FinishedOrders">
                            <i class="fe fe-archive fe-16"></i>
                            <span class="ml-3 item-text">Archiwum zamówień</span>
                        </a>
                    </li>

                    <hr />

                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Clients" asp-action="Index">
                            <i class="fe fe-users fe-16"></i>
                            <span class="ml-3 item-text">Klienci</span>
                        </a>
                    </li>

                    <hr />

                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="ToDoes" asp-action="Index">
                            <i class="fe fe-alert-circle fe-16"></i>
                            <span class="ml-3 item-text">Do zrobienia</span>
                        </a>
                    </li>

                </ul>
                @*KONFIGURACJA*@
                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Inne</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item dropdown">
                        <a href="#config" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-sliders fe-16"></i>
                            <span class="ml-3 item-text">Konfiguracja</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="config">

                            <a class="nav-link" asp-area="" asp-controller="PaperTypes" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Papiery</span>
                            </a>
                            <a class="nav-link" asp-area="" asp-controller="PaperWeights" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Gramatury papieru</span>
                            </a>
                            <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Produkty</span>
                            </a>
                            <a class="nav-link" asp-area="" asp-controller="Formats" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Formaty produktów</span>
                            </a>

                            <hr />


                            <a class="nav-link" asp-area="" asp-controller="SheetSizes" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Arkusze drukarskie</span>
                            </a>
                            <a class="nav-link" asp-area="" asp-controller="PrintColors" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Kolory zadruku</span>
                            </a>
                            <a class="nav-link" asp-area="" asp-controller="ProductionStages" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Etapy produkcyjne</span>
                            </a>
                            <a class="nav-link" asp-area="" asp-controller="Finishings" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Uszlachetnienia druku</span>
                            </a>
                            <a class="nav-link" asp-area="" asp-controller="PostPresses" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Introligatornia</span>
                            </a>
                            <a class="nav-link" asp-area="" asp-controller="Machines" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Maszyny drukujące</span>
                            </a>

                            <hr />

                            <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Użytkownicy</span>
                            </a>
                            <a class="nav-link" asp-area="" asp-controller="UserTypes" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Rodzaje użytkowników</span>
                            </a>

                            <hr />

                            <a class="nav-link" asp-area="" asp-controller="DeliveryTypes" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Rodzaje dostawy</span>
                            </a>
                            <a class="nav-link" asp-area="" asp-controller="PaymentTypes" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Rodzaje płatności</span>
                            </a>
                            <a class="nav-link" asp-area="" asp-controller="VatRates" asp-action="Index">
                                <i class="fe fe-arrow-right fe-16"></i>
                                <span class="ml-3 item-text">Stawki Vat</span>
                            </a>
                        </ul>
                    </li>

                </ul>

            </nav>
        </aside>
        <!-- sidebar -->
        @*MAIN*@
        <main role="main" class="main-content">
            <div class="">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card shadow mb-4">
                            <div class="">
                                @RenderBody()
                            </div> <!-- .card-body -->
                        </div> <!-- .card -->
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
        </main>
        <!-- main -->
    </div>
    <!-- .wrapper -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/moment-with-locales.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src='~/js/daterangepicker.js'></script>
    <script src='~/js/jquery.stickOnScroll.js'></script>
    <script src="~/js/tinycolor-min.js"></script>
    <script src="~/js/config.js"></script>
    <script src='~/js/jquery.dataTables.min.js'></script>
    <script src='~/js/dataTables.bootstrap4.min.js'></script>
    <script src="~/js/d3.min.js"></script>
    <script src="~/js/topojson.min.js"></script>
    <script src="~/js/datamaps.all.min.js"></script>
    <script src="~/js/datamaps-zoomto.js"></script>
    <script src="~/js/datamaps.custom.js"></script>
    <script src="~/js/Chart.min.js"></script>

    <script>
        /* defind global options */
        Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
        Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src="~/js/gauge.min.js"></script>
    <script src="~/js/jquery.sparkline.min.js"></script>
    <script src="~/js/apexcharts.min.js"></script>
    <script src="~/js/apexcharts.custom.js"></script>
    <script src='~/js/jquery.mask.min.js'></script>
    <script src='~/js/select2.min.js'></script>
    <script src='~/js/jquery.steps.min.js'></script>
    <script src='~/js/jquery.validate.min.js'></script>
    <script src='~/js/jquery.timepicker.js'></script>
    <script src='~/js/dropzone.min.js'></script>
    <script src='~/js/uppy.min.js'></script>
    <script src='~/js/quill.min.js'></script>
    <script src="~/js/jquery.datetimepicker.full.min.js"></script>
    @*<script src="~/js/moment.min.js"></script>*@

    <script src="~/lib/fullcalendar-5.3.2/lib/main.js"></script>
    <script src="~/lib/fullcalendar-5.3.2/lib/locales/pl.js"></script>

    <script>

       
    </script>

    <script src="~/js/apps.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
