@model Printo.Data.Data.PaperType

@{
    ViewData["Title"] = "Nowy rodzaj papieru";
}

<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="mb-2 page-title">Nowy rodzaj papieru</h4>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-success float-right" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Index">
                            <i class="fe fe-arrow-left" style="vertical-align:text-top"></i>
                            Powrót do listy
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <label asp-for="Name" class="control-label">Nazwa papieru (bez gramatury)</label>
                            <input asp-for="Name" type="text" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="Description" class="control-label">Opis</label>
                            <input asp-for="Description" type="text" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row" style="float:right">
                        <div class="form-group" style="padding-right:5px">
                            <input type="submit" value="Zapisz" class="btn btn-success" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
