@model IEnumerable<Printo.Data.Data.SheetSize>

@{
    ViewData["Title"] = "Formaty arkuszy";
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h3 class="mb-2 page-title">Formaty arkuszy</h3>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-success float-right" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
                            <i class="fe fe-plus fe-16" style="padding-right:5px; vertical-align:text-bottom"></i>
                            Dodaj
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table dataTable table-responsive-lg" id="dataTable-1">
                    <thead>
                        <tr>
                            <th>
                                Nazwa
                            </th>
                            <th>
                                Opis
                            </th>
                            <th>Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.SheetSizeID" role="button" data-toggle="tooltip" title="Edytuj">
                                        <i class="fe fe-edit fe-16"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>