@model Printo.Data.Data.ToDo

@{
    ViewData["Title"] = "Edycja pozycji";
}

<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="mb-2 page-title">Edycja pozycji "Do zrobienia"</h4>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-success float-right" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Index">
                            <i class="fe fe-arrow-left" style="vertical-align:text-top"></i>
                            Powrót do listy
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Edit" id="saveForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ToDoID" />
                    <input type="hidden" asp-for="IsActive" />
                    <input type="hidden" asp-for="AddedDate" />
                    <input type="hidden" asp-for="UpdatedDate" />
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <label asp-for="Name" class="control-label">Nazwa pozycji</label>
                            <input asp-for="Name" type="text" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl-6">
                            <label asp-for="Description" class="control-label">Opis</label>
                            <input asp-for="Description" type="text" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl-6">
                            <label asp-for="Date" class="control-label">Data</label>
                            <input asp-for="Date" id="toDoDate" class="form-control" type="text" autocomplete="off" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl-6">
                            <label asp-for="UserID" class="control-label">Użytkownik</label>
                            <select asp-for="UserID" class="form-control myselect" style="width:100%" asp-items="ViewBag.UserID">
                                <option selected disabled value="0"></option>
                            </select>
                            <span asp-validation-for="UserID" class="text-danger"></span>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col">
                        @if (Model.IsActive)
                        {
                            <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-outline-danger buttMargin" data-toggle="modal" data-target="#myModalDeactivate">
                                Usuń
                            </button>
                            <!-- The Modal -->
                            <div class="modal" id="myModalDeactivate">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Uwaga!</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            Czy chcesz usunąć tę pozycję?
                                        </div>
                                        <div class="modal-footer">
                                            <form asp-action="Deactivate" asp-route-id="@Model.ToDoID">
                                                <input type="hidden" asp-for="ToDoID" />
                                                <input type="submit" value="Tak" class="btn btn-outline-danger buttMargin" />
                                                <button type="button" class="btn btn-outline-secondary buttMargin" data-dismiss="modal">Nie</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="input-group">
                                <form asp-action="Restore" asp-route-id="@Model.ToDoID">
                                    <input type="hidden" asp-for="ToDoID" />
                                    <input type="submit" value="Przywróć" class="btn btn-outline-success buttMargin" style="margin:5px" />
                                </form>
                                <input type="button" value="Usuń trwale" class="btn btn-outline-danger buttMargin" data-toggle="modal" data-target="#myModalDelete" style="margin:5px" />
                            </div>
                            <!-- The Modal 2-->
                            <div class="modal" id="myModalDelete">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Uwaga!</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            Czy chcesz trwale usunąć tę pozycję?
                                        </div>
                                        <div class="modal-footer">
                                            <form asp-action="Delete" asp-route-id="@Model.ToDoID">
                                                <input type="hidden" asp-for="ToDoID" />
                                                <input type="submit" value="Tak" class="btn btn-outline-danger buttMargin" />
                                                <button type="button" class="btn btn-outline-secondary buttMargin" data-dismiss="modal">Nie</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col" style="text-align:right">
                        <input form="saveForm" type="submit" value="Zapisz" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
