@model IEnumerable<Printo.Data.Data.UserType>

@{
    ViewData["Title"] = "Typy użytkowników";
}

<div class="row">
    <div class="col-md-12">
        @*AKTYWNE*@
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="mb-2 page-title">Typy użytkowników</h4>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table dataTable table-responsive-lg table-hover" id="dataTable-1">
                    <thead>
                        <tr>
                            <th>
                                Nazwa
                            </th>
                            <th>
                                Opis
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.IsActive == true))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>